
.flex-container
  display flex
.flex-dir-rr
  flex-direction row-reverse
.flex-dir-c
  flex-direction column
.flex-dir-cr
  flex-direction column-reverse
.flex-wrap-w
  flex-wrap wrap
.flex-wrap-wr
  flex-wrap wrap-reverse
.flex-jus-s
  justify-content flex-start
.flex-jus-e
  justify-content flex-end
.flex-jus-c
  justify-content center
.flex-jus-sp
  justify-content space-around
.flex-jus-sb
  justify-content space-between
.flex-jus-spev
  justify-content space-evenly
.flex-align-s
  align-items flex-start
.flex-align-e
  align-items flex-end
.flex-align-c
  align-items center
.flex-align-b
  align-items baseline
.flex-wrap-nw
  flex-wrap nowrap
.flex-one,.flex-tow,.flex-three,.flex-four,.flex-five,.flex-six,.flex-seven,.flex-nine,.flex-eight
  overflow hidden
.flex-one
  flex 1
.flex-two
  flex 2
.flex-three
  flex 3
.flex-four
  flex 4
.flex-five
  flex 5
.flex-six
  flex 6
.flex-seven
  flex 7
.flex-eight
  flex 8
.flex-nine
  flex 9
  //flex布局
  //动画开始
.text-center
    text-align center
.text-left
    text-align left
.text-right
    text-align right
.text-justify
  text-align justify
i,em
  font-style normal
  list-style none
.font-weight
  font-weight bolder
.font-weight-600
  font-weight 600
.cursor
  cursor pointer
li
 list-style none
*
  padding 0
  margin 0
.padd-t-5 {
  padding-top: 5px;
}
.padd-t-10 {
  padding-top: 10px;
}
.padd-t-15 {
  padding-top: 15px;
}
.padd-t-20 {
  padding-top: 20px;
}
.padd-t-30 {
  padding-top: 30px ;
}
.padd-r-5 {
  padding-right: 5px ;
}
.padd-r-10 {
  padding-right: 10px;
}
.padd-r-15 {
  padding-right: 15px;
}
.padd-r-20 {
  padding-right: 20px;
}
.padd-l-0 {
  padding-left: 0 ;
}
.padd-l-5 {
  padding-left: 5px ;
}
.padd-l-10 {
  padding-left: 10px ;
}
.padd-l-15 {
  padding-left: 15px;
}
.padd-l-20 {
  padding-left: 20px ;
}
.padd-l-25 {
  padding-left: 25px ;
}
.padd-l-40 {
  padding-left: 40px ;
}
.padd-l-50 {
  padding-left: 50px ;
}
.padd-l-54 {
  padding-left: 54px ;
}
.padd-l-65 {
  padding-left: 65px ;
}
.padd-l-30 {
  padding-left: 30px ;
}
.padd-l-35 {
  padding-left: 35px ;
}
.padd-b-5 {
  padding-bottom: 5px;
}
.padd-b-10 {
  padding-bottom: 10px;
}
.padd-b-15 {
  padding-bottom: 15px;
}
.padd-b-20 {
  padding-bottom: 20px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top20 {
  margin-top: 20px;
}
.margin-top-100 {
  margin-top: 100px;
}
.margin-r-0 {
  margin-right: 0px ;
}
.margin-r-5 {
  margin-right: 5px;
}
.margin-r-10 {
  margin-right: 10px;
}
.margin-r-15 {
  margin-right: 15px ;
}
.margin-r-20 {
  margin-right: 20px;
}
.margin-l-5 {
  margin-left: 5px;
}
.margin-l-7 {
  margin-left: 7px;
}
.margin-l-10 {
  margin-left: 10px;
}
.margin-l-15 {
  margin-left: 15px;
}
.margin-l-20 {
  margin-left: 20px;
}
.margin-l-25 {
  margin-left: 25px;
}
.margin-l-30 {
  margin-left: 30px;
}
.margin-l-43 {
  margin-left: 43px;
}
.margin-b-5 {
  margin-bottom: 5px;
}
.margin-b-10 {
  margin-bottom: 10px;
}
.margin-b-15 {
  margin-bottom: 15px;
}
.margin-b-20 {
  margin-bottom: 20px;
}
.anticon {
  padding-right: 10px;
  .svg{
  cursor: pointer;
  }
}
  .relative{
    position: relative;
  }
